<<<<<<< HEAD
koji
yamabe
=======
>>>>>>> 5f84eb01da7552537e4777e44aacdb627f342e57
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
